<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nol_project.dao.AttractionDAO">
	<select id="getAllAttrctn">
		SELECT * FROM nol_attraction
	</select>
	<select id="search" >
		SELECT * FROM nol_attraction
		WHERE 1=1
		<if test="alevel != null">
			AND alevel = #{alevel}
		</if>
		<if test="name != null and name != ''">
			AND name Like '%' || #{name} || '%'
		</if>
	</select>
	<select id="getMainAttrctn">
		SELECT * FROM nol_attraction
	</select>
	<select id="getDetail" parameterType="int">
		SELECT * FROM nol_attraction WHERE atno = #{atno}
	</select>
	
	
	<select id="getAttrctnList">
		SELECT * FROM nol_attraction
	</select>
	<select id="attrctnDetail">
		SELECT * FROM nol_attraction WHERE atno = #{atno}
	</select>
	<delete id="attrctnDelete">
		DELETE FROM nol_attraction WHERE atno = #{atno}
	</delete>
	<update id="attrctnUpdate">
		UPDATE nol_attraction 
		SET name = #{name},
			description = #{description},
			imageURL = #{imageURL},
			alevel = #{alevel},
			state = #{state}
		WHERE atno = #{atno}
	</update>
	<insert id="attrctnInsert">
		INSERT INTO nol_attraction (atno, name, description, imageURL, alevel, state) 
		VALUES(seq_nol_attraction.nextval, #{name}, #{description}, #{imageURL}, #{alevel}, #{state})
	</insert>
</mapper>













