<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.example.nol_project.dao.MyPageDAO">
    	 <select id="getMyReserveList" resultType="map">
			  SELECT 
			  	r.rno, 
			    t.name AS ticketName,
			    td.tdate AS reserveDate,
			    r.quantity,
			    t.price AS unitPrice,
			    r.discount_price AS totalPrice
			  FROM nol_reserve r
			  JOIN nol_ticket_date td ON r.tdno = td.tdno
			  JOIN nol_ticket t ON td.tno = t.tno
			  WHERE r.id = #{id}
			  ORDER BY td.tdate DESC
		</select>

    
    </mapper>