<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.nol_project.dao.TicketDAO">

  <select id="getAllTickets" resultType="com.example.nol_project.dto.TicketDTO">
    SELECT tno, name, price, content
    FROM nol_ticket
    ORDER BY tno
  </select>
  
  <select id="getTicketByTno" parameterType="int" resultType="com.example.nol_project.dto.TicketDTO">
    SELECT tno, name, price, content
    FROM nol_ticket
    WHERE tno = #{tno}
  </select>

</mapper>
